@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-color: #FFDBAC; */
    background-color: rgb(226, 232, );
    
}


/* App.css or RotateImage.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.image-wrapper {
  display: inline-block;
  perspective: 1000px; /* Adds depth to the 3D effect */
}

.image {
  width: 300px;
  height: 300px;
  transition: transform 1s;
  transform-style: preserve-3d; /* Ensure 3D transformations are applied */
}





.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: #679218;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-prev {
  left: 10px;
}


.custom-next {
  right: 10px;
}

.custom-prev:hover,
.custom-next:hover {
  background-color: #555;
}